@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Prompt:wght@500;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  list-style: none;
}
@media screen and (min-width: 800px) {
  p {
    font-size: 1.1rem;
  }
  li {
    font-size: 1.3rem;
  }
  h4 {
    font-size: 1.3rem;
  }
}
body {
  font-family: "Open Sans", sans-serif;
  font-family: "Prompt", sans-serif;
}
main {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 90vw;
  margin: 0 auto;
}
.section {
  box-shadow: 2px 2px 10px 20px rgba(0, 0, 0, 0.236);
  padding: 1rem 2.5rem;
  border-radius: 0.4rem;
}
.div-1 {
  padding: 0.3rem;
}
.logo-photo {
  width: 60px;
  height: 60px;
}
.div-2 {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.div-3 h3 {
  color: #4e5458;
}
.div-3 p {
  margin: 0.5rem 0;
  color: gray;
}
.div-4 {
  display: grid;
  place-items: center;
  padding: 1rem 0;
}
.div-4 ul {
  color: gray;
}
.div-4 ul li {
  margin: 0.5rem 0;
}
.div-4 ul li b {
  color: #4e5458;
}
.div-5 p {
  color: gray;
}

.div-6 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}
.div-7 {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.div-8 h4 {
  color: #4e5458;
}
.chrome {
  width: 40px;
  height: 40px;
  object-fit: cover;
  object-position: center;
}
.btn {
  padding: 0.8rem 1.3rem;
  color: white;
  font-size: 1.5rem;
  border: none;
  background-color: green;
  border-radius: 0.2rem;
  width: 180px;
  display: flex;
  justify-content: space-evenly;
}
@media screen and (max-width: 600px) {
  body {
    font-size: 0.3rem;
  }
  main{
    height: 50vh;
  }
  .logo-photo {
    width: 30px;
    height: 30px;
  }
  .div-2 {
    flex-direction: column;
    gap: 0;
  }
  .div-3 h3 {
    font-size: 0.5rem;
  }
  .div-3 p {
    font-size: 0.3rem;
  }
  .div-4 {
    display: block;
    margin: auto;
  }
  .div-4 ul li {
    font-size: 0.3rem;
  }
  .div-4 ul {
    padding: 0 0;
  }
  .div-5 p {
    font-size: 0.3rem;
  }
  .div-6 {
    gap: 1rem;
    justify-content: start;
    align-items: start;
  }
  .div-8 p,
  h4 {
    font-size: 0.3rem;
  }
  .btn {
    font-size: 0.6rem;
    width: 120px;
  }
  .chrome {
    width: 20px;
    height: 20px;
  }
}
